a {
    text-decoration: none;
    color: #4271EA;
}

.job-wrapper {
    width: 520px;
    height: 300px;
    border: 1px solid #4F4F4F;
    border-radius: 8px;
    margin-bottom: 20px;
}

.job-content {
    padding: 40px;
 }

 .job-content img {
    height: 100px;
    width: 100px;
}

.job-info {
    line-height: 10px;
}

.job-info h1 {
    font-size: 30px;
    font-weight: 700px;
}

.job-info h2 {
    font-size: 26px;
    font-weight: 600px;
}

.job-info p {
    font-size: 18px;
    color: #757575;
    font-weight: 400px;
}

.job-company {
    line-height: 0;
}

.job-status {
    font-size: 14px;
    display: flex;
}

.job-status p {
    margin-right: 10px;
}

