a {
    text-decoration: none;
    color: #4271EA;
}

.salary-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 200px;
    margin-bottom: 200px;
}

.salary-content {
    display: flex;
    justify-content: center;
    padding: 40px;
    border: 1px solid #4f4f4f;
    border-top: #4271EA solid 26px;
    height: 130px;
    border-radius: 6px;
 }


.salary-info {
    display: flex;
}

.salary-info h2 {
    font-size: 20px;
    font-weight: 400;
    margin-right: 200px;
}

.salary-info h1 {
    font-size: 30px;
    font-weight: 700;
}

.salary-info h1 span {
    font-size: 25px;
    font-weight: 500;
}



.salary-info p {
    font-size: 18px;
    font-weight: 400px;
}
