a {
    text-decoration: none;
    color: #4271EA;
}


.mentor-wrapper {
    margin-top: 60px;
    width: 520px;
    height: 660px;
    border: 1px solid #4F4F4F;
    border-radius: 8px;
}

.mentor-content {
   padding: 40px;
}

.mentor-content img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.mentor-info {
    color: #757575;
}


.mentor-info li {
    margin-bottom: 16px;
}

.mentor-info h1 {
    padding-top: 30px;
    font-size: 30px;
    font-weight: 700px;
}

.mentor-info h2 {
    font-size: 26px;
    font-weight: 600px;
}

.mentor-info p {
    font-size: 18px;
    font-weight: 400px;
}