@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.App {
  padding: 0 60px;
}