.form {
    display: flex;
    justify-content: center;
    margin-bottom: 140px;
}

.form input {
    width: 500px;
    height:40px;
    margin-right: 20px;
    border: 1px solid #4F4F4F;
    border-radius: 6px;
    padding: 0 20px;
}

.form input:focus::placeholder {
    color: transparent;
  }

.form-button {
    padding: 0 20px;
    background-color: #4271EA;
    color: #fff;
    border-radius: 6px;
    border: none;
    font-weight: 600;
}
