a {
    text-decoration: none;
    color: #4271EA;
}

.categories-wrapper {
    width: 520px;
    height: 260px;
    border: 1px solid #4F4F4F;
    border-radius: 8px;
    margin-top: 60px;
    margin-bottom: 100px;
}

.categories-content {
   padding: 40px;
}

.categories-content img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.categories-info {
    line-height: 10px;
}

.categories-info h2 {
    font-size: 26px;
    font-weight: 600px;
}

.categories-info p {
    font-size: 18px;
    color: #757575;
    font-weight: 400px;
}