a {
    text-decoration: none;
    color: #4271EA;
}

.detail-wrapper {
    width: 1050px;
    height: 1260px;
    border: 1px solid #4F4F4F;
    border-radius: 8px;
}

.detail-content {
   padding: 40px;
}

.detail-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 220px;
    width: 220px;
}

.detail-info {
    line-height: 10px;
}

.detail-info h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 700px;
}

.detail-info h2 {
    text-align: center;
    color: #4271EA;
    font-size: 26px;
    font-weight: 600px;
}

.detail-info p {
    text-align: center;
    font-size: 18px;
    color: #757575;
    font-weight: 400px;
}

.desc {
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(136, 136, 136);
}

.detail-btn {
    padding: 10px 30px;
    background-color: #4271EA;
    border-radius: 6px;
    border: none;
    margin: 70px 40%;
}

.detail-btn a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}